.Cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, $cardWidth);
  justify-content: center;
  grid-gap: 15px;
  padding: 30px 0;
  .Card {
    min-height: $cardHeight;
    width: $cardWidth;
    cursor: pointer;
    .Card__poster {
      max-width: $cardWidth;
      width: 100%;
      max-height: $cardHeight;
      height: 100%;
    }
    .Card__title {
      color: $white;
      text-align: center;
    }
  }
}
