.Navbar {
  * {
    color: #fff;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  min-width: 100vw;
  width: 100%;
  height: $navbarHeight;
  top: 0;
  position: fixed;
  margin: 0;
  .Navbar__left-items {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navbarHeight;
    .Navbar__brand {
      width: 90px;
      height: auto;
    }
    .Navbar__links__container {
      display: flex;
      list-style-type: none;
      padding: 0;
    }
    .Navbar__link {
      font-size: 14px;
      color: $lighterGrey;
      padding: 10px;
      margin: 0 5px;
      &:hover {
        color: $darkerGrey;
      }
    }
  }
  .Navbar__right-items {
    padding-right: 50px;
    display: flex;
    align-items: center;
    height: $navbarHeight;
    .Navbar__search-input__icon {
      cursor: pointer;
    }
    .Navbar__search-input__container {
      border: 2px solid #fff !important;
      .Navbar__search-input {
        color: #fff !important;
      }
    }
    .Navbar__kids__button {
      font-size: 14px;
      margin: 0 10px;
    }
    .Navbar__notifications__button {
      height: 20px;
      width: 20px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
